[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
django-nested-admin = "==3.2.4"
django-import-export = "*"
django-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
