{% extends "base.html" %}

{% block title %}מסע מצווה{% endblock %}

{% block nav_items %}
	{% if user_type == "TEACHER" %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'student-journeys' %}">מסעות</a>
		</li>
	{% elif user_type == "STUDENT" %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'my-journey' %}">המסע שלי</a>
		</li>
	{% elif user_type == "MANAGER" %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'admin:index' %}"> פאנל הניהול</a>
		</li>
	{% endif %}
{% endblock %}

{% block content %}
	<h1 class="display-1 text-center align-self-center">מסע מצווה</h1>
{% endblock %}